* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }


header {
    background: #111;
    color: #fff;
    padding: 10px 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {

    height: 70px;
    width: 150px;
    object-fit: cover;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00aaff;
}


span {
    font-size: 14px;
    font-weight: normal;
    color: #C0C0C0;
    display: block;
    margin-top: 4px;
}

.hero {
    background: #ccc;
    padding: 80px 20px;
    text-align: center;
}
.hero h2 { font-size: 32px; margin-bottom: 20px; }

.about, .services, .blog, .portfolio, .contact {
    padding: 40px 20px;
}
.services .service, .blog article, .portfolio .project {
    border: 1px solid #eee;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
}
/* .logo { width: 10%; display: block; border-radius: 6px; } */

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

footer {
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}
